<div class="main-contain">
	<div class="contain">
		<div class="contain__arrow" ng-click="prev()">
			<p class="contain__arrow__button" id="prev"><</p>
		</div>
		<div class="contain__text">
			<div class="contain__text--line contain__text--line--first">Barthélémy Giraud</div>
			<div class="contain__text--line">Développeur front</div>
		</div>
		<div class="contain__arrow" ng-click="next()">
			<p class="contain__arrow__button" id="next">></p>
		</div>
	</div>
</div>


<div class="picture" id="picture">
</div>
<div class="home-wrapper">
</div>