//COLORS
$color-light: #fff;
$color-grey: #848898;
$color-dark-grey: darken($color-grey, 20);
$color-light-grey: lighten($color-grey, 20);

$serif-font: 'Abril Fatface', cursive;
$sans-serif-font: 'Montserrat', sans-serif;