//FONT FACES
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?66ziqn');
  src:  url('../fonts/icomoon.eot?66ziqn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?66ziqn') format('truetype'),
    url('../fonts/icomoon.woff?66ziqn') format('woff'),
    url('../fonts/icomoon.svg?66ziqn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}