<header class="qc__header"> 
	<h1>Québec 2017</h1>
	<h2>Road Trip</h2>
	<i class="icon-th-menu qc__menu--icon" ng-click="toggleMenu()"></i>
	<a href="http://www.instagram.com/anlo00oo" target="_blank" class="qc__menu--icon-insta"><i class="icon-instagram"</i></a>
	<a href="http://www.instagram.com/akrobarth"  target="_blank" class="qc__menu--icon-insta qc__menu--icon-insta-bottom"><i class="icon-instagram"></i></a>
</header>
<div class="qc__main">
	<div class="qc__content">
		plop
	</div>
</div>
<nav class="qc__nav" ng-show="showMenu">
	<i class="icon-close qc__menu--icon" ng-click="toggleMenu()"></i>
	<ul>
		<li>Etape 1</li>
	</ul>
</nav>
